<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Update Card </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label> Status</label>
                        <select class="form-control" id="firstName" [(ngModel)]="card.status"
                            name="name">
                            <option>To-do</option> 
                            <option>Doing</option> 
                            <option>Done</option> 
                        </select>
                    </div>

                    <div class="form-group">
                        <label> Text</label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="card.text"
                            name="lastName">
                    </div>

                    <div class="form-group" >
                        <label> Color </label>
                        <select class="form-control" id="emailId" [(ngModel)]="card.color"
                            name="emailId">
                            <option>Red</option> 
                            <option>Green</option> 
                            <option>Blue</option> 
                            <option>Black</option> 
                            <option>White</option> 
                        </select>
                    </div>
                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>