Body {
    font-family: Sans-serif;
    font-size: 14;
    width: 100%;
    background-color: #E0E0E0;
}

ol {
    transition: border-color 2s ease, all 0.1s ease;
  }

  ol.list {
    padding-top: 2em;
    padding-left: 15px;
    max-width: 650px;
    margin: 0 auto;
  }

  ol.list .text {
    float: right;
    width: 60%;
  }

  .colour {
    width: 20px;
    height: 20px;
    align-content:flex-end;
  }
.kanban-card {
    margin: 20px;
    background-color: aliceblue;
}

/* .card-container {
    margin: 20px;
    background-color: aliceblue;
} */

.Doing {
    background-color: #fec6d1;
}

.To-do {
    background-color: #ffaf00;
}

.Done {
    background-color: #018b01;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: sans-serif;

}

.kanban_title {
    background-color: bisque;
    display: flex;
    max-height: 25px;

}

div {
    text-align: center;
}

button {
    font-size: small;
    border-radius: 12px;
}

.text {
    width: fit-content;
    max-width: 300px;
    word-wrap: break-word;
}

