<div class = "row">
    <!-- <h2> Kanban Board</h2> -->
    <br>
    <br>
</div>

<div class = "container">
    <div class="To-do row">
        <div class="kanban_title">To-do</div>

        <div class="card-container">
    <div class="kanban-card" *ngFor = "let card of todoCard">

        <div>{{ card.text }}</div>

        <div class="buttons col">
            <button (click) = "updateCard(card.id)" class = "btn btn-primary">Edit</button>
            <button (click) = "deleteCard(card.id)" class = "btn btn-danger" style="margin-left: 10px">Delete </button>
            <!-- <button (click) = "cardDetails(card.id)" class = "btn btn-outline-dark" style="margin-left: 10px"> View</button></div> -->
            </div>
            <div class="colour" [ngStyle]="{'background-color': card.color}"></div>
        </div>
</div>

    </div>
    <div class="Doing row">
        <div class="kanban_title">Doing</div>
        <div class="card-container">
            <div class="kanban-card" *ngFor = "let card of doingCard">
                <div class="text" >
                        {{ card.text }}

                </div>
                <div class="buttons">
                    <button (click) = "updateCard(card.id)" class = "btn btn-primary">Edit</button>
                    <button (click) = "deleteCard(card.id)" class = "btn btn-danger" style="margin-left: 10px">Delete</button>
                    <!-- <button (click) = "cardDetails(card.id)" class = "btn btn-outline-dark" style="margin-left: 10px"> View</button></div> -->
                    </div>
                    <div class="colour" [ngStyle]="{'background-color': card.color}"></div>
                </div>
        </div>
    </div>

    <div class="Done row">
        <div class="kanban_title">Done</div>
        <div class="card-container">
            <div class="kanban-card" *ngFor = "let card of doneCard">
                <div class="text" >
                        {{ card.text }}

                </div>
                <div class="buttons"><button (click) = "updateCard(card.id)" class = "btn btn-primary">Edit </button>
                    <button (click) = "deleteCard(card.id)" class = "btn btn-danger" style="margin-left: 10px">Delete </button>
                    <!-- <button (click) = "cardDetails(card.id)" class = "btn btn-outline-dark" style="margin-left: 10px"> View</button></div> -->
                    </div>
                    <div class="colour" [ngStyle]="{'background-color': card.color}"></div>
                </div>
        </div>
    </div>

    <!-- <thead>
        <tr>
            <th> Status</th>
            <th> Text </th>
            <th> Color</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let card of cards" >
            <td> {{ card.status }} </td>
            <td> {{ card.text }} </td>
            <td> {{ card.color }} </td>
            <td>
                <button (click) = "updateCard(card.id)" class = "btn btn-outline-dark"> Update</button>
                <button (click) = "deleteCard(card.id)" class = "btn btn-outline-dark" style="margin-left: 10px"> Delete</button>
                <button (click) = "cardDetails(card.id)" class = "btn btn-outline-dark" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody> -->



</div>
