Body {
    font-family: Sans-serif;
    font-size: 14;
    width: 100%;
    background-color: #E0E0E0;
}

ol {
    transition: border-color 2s ease, all 0.1s ease;
  }

ol.list {
  padding-top: 2em;
  padding-left: 15px;
  max-width: 650px;
  margin: 0 auto;
}

ol.list .text {
  float: right;
  width: 60%;
}

.colour {
  width: 20px;
  height: 20px;
  align-content:flex-end;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    font-family: sans-serif;
}

div {
    text-align: center;
}

button {
    font-size: small;
    border-radius: 12px;
}

.card-container-todo {
  background-color: #ebf57d
}

.card-container-doing {
  background-color: #87f57d
}

.card-container-done {
  background-color: #f57d9f
}

.title-container {
  display: flex;
  justify-content: space-around;
}

.kanban-card {
    margin: 2em;
    background-color: aliceblue;
    border: 2px solid black;
    border-radius: 5px;
    padding: 1em;
}

.buttons {
  padding: .5em;
}

.kanban-title {
  padding-top: 1em;
  padding-top: 1em;
}






