<!--<div class = "row">-->
<!--    &lt;!&ndash; <h2> Kanban Board</h2> &ndash;&gt;-->
<!--    <br>-->
<!--    <br>-->
<!--</div>-->

<!--<div class="title-container">-->
<!--  <div>-->
<!--    <h4 class="kanban_title">To-do</h4>-->
<!--  </div>-->
<!--  <div>-->
<!--    <h4 class="kanban_title">Doing</h4>-->
<!--  </div>-->
<!--  <div>-->
<!--    <h4 class="kanban_title">Done</h4>-->
<!--  </div>-->
<!--</div>-->

<div class = "flex-container">

    <div class="card-container-todo">
        <h4 class="kanban-title">To-do</h4>
        <div class="kanban-card" *ngFor = "let card of todoCard">
          <div class="text" [ngStyle]="{'color': card.color}">{{ card.text }}</div>
          <div class="buttons col">
            <button (click) = "updateCard(card.id)" class = "btn btn-primary">Edit</button>
            <button (click) = "deleteCard(card.id)" class = "btn btn-danger" style="margin-left: 10px">Delete </button>
          </div>
        </div>
    </div>




    <div class="card-container-doing">
      <h4 class="kanban-title">Doing</h4>
      <div class="kanban-card" *ngFor = "let card of doingCard">
            <div class="text" [ngStyle]="{'color': card.color}">{{ card.text }}</div>
            <div class="buttons">
                <button (click) = "updateCard(card.id)" class = "btn btn-primary">Edit</button>
                <button (click) = "deleteCard(card.id)" class = "btn btn-danger" style="margin-left: 10px">Delete</button>
            </div>
        </div>
    </div>



    <div class="card-container-done">
      <h4 class="kanban-title">Done</h4>
      <div class="kanban-card" *ngFor = "let card of doneCard">
          <div class="text" [ngStyle]="{'color': card.color}">{{ card.text }}</div>
            <div class="buttons">
                <button (click) = "updateCard(card.id)" class = "btn btn-primary">Edit </button>
                <button (click) = "deleteCard(card.id)" class = "btn btn-danger" style="margin-left: 10px">Delete </button>
            </div>
        </div>
   </div>

</div>

    <!-- <thead>
        <tr>
            <th> Status</th>
            <th> Text </th>
            <th> Color</th>
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let card of cards" >
            <td> {{ card.status }} </td>
            <td> {{ card.text }} </td>
            <td> {{ card.color }} </td>
            <td>
                <button (click) = "updateCard(card.id)" class = "btn btn-outline-dark"> Update</button>
                <button (click) = "deleteCard(card.id)" class = "btn btn-outline-dark" style="margin-left: 10px"> Delete</button>
                <button (click) = "cardDetails(card.id)" class = "btn btn-outline-dark" style="margin-left: 10px"> View</button>
            </td>
        </tr>
    </tbody> -->




