Body {
    font-family: Sans-serif;
    font-size: 14;
    width: 100%;
    background-color: #E0E0E0;
}

ol {
    transition: border-color 2s ease, all 0.1s ease;
  }

ol.list {
  padding-top: 2em;
  padding-left: 15px;
  max-width: 650px;
  margin: 0 auto;
}

ol.list .text {
  float: right;
  width: 60%;
}

.colour {
  width: 20px;
  height: 20px;
  align-content:flex-end;
}

.flex-container {
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

div {
    text-align: center;
}

button {
    font-size: small;
    border-radius: 12px;
}

.card-container-todo {
  background-color: #292928;
}

.card-container-doing {
  background-color: #292928;
}

.card-container-done {
  background-color: #292928;
}

.card-container {
  width: 25%;
  margin: 1em;
  background-color: #292928;
  border-radius: 10px;
}

.kanban-card {
    margin: 2em;
    background-color: #999897;
    border-radius: 10px;
    padding: 1em;
}

.buttons {
  padding: .5em;
}

.kanban-title {
  color: #dedede;
  text-align: left;
  padding-top: 1em;
  padding-left: 1em;
}

i {
  cursor: pointer;
  margin: 0 20px;
}






