<nav class="navbar navbar-expand-sm bg-primary navbar-dark justify-content-between">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="cards" routerLinkActive="active" class="nav-link" *ngIf="isAuthenticated()">Kanban board</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-card" routerLinkActive="active" class="nav-link" *ngIf="isAuthenticated()">Add card</a>
      </li>
  </ul>
  <ul class = "navbar-nav">
    <li class = "nav-item">
      <a class="nav-link" routerLink="/register" *ngIf="!isAuthenticated()">Register</a>
    </li>
    <li class = "nav-item">
      <a class="nav-link" routerLink="/login" *ngIf="!isAuthenticated()">Login</a>
    </li>
    <li class = "nav-item">
      <a class="nav-link" routerLink="/logout" *ngIf="isAuthenticated()">Logout</a>
    </li>
  </ul>
</nav>

<h1 class="text-center"> Kanban Board </h1>
<div class = "container">

  <router-outlet></router-outlet>
</div>
<footer class = "footer">
  <div class = "container">
      <div>Tyler & Kunhyuk</div>
      <div>GenSpark</div>
      <a href="https://github.com/kunhyuk/gensparkprojectfront">Github Frontend </a>
      <br>
      <a href="https://github.com/kunhyuk/genSparkProjectBackend">Github Backend </a>
      <div>Copyright @ 2023 GenSpark</div>
  </div>
</footer>
